.container-fluid
  .row
    .col-md-10
      .row
        .col-md-9
          %p
            %b Name:
            = @user.last_name
          %p
            %b Email:
            = @user.email
          %p
            %b Institution:
            = @user.institution
          %p
            %b Role:
            = @user.role
          = link_to 'Edit', edit_users_admin_path, :class => "btn btn-success", style: "margin-left: 0%"
          = link_to 'Back', users_admin_index_path, :class => 'btn btn-default'
          