.row
  .form-group
    .col-md-5 Gadget
    .col-md-7
      = link_to 'Back', gadgets_path,:class => 'btn btn-primary'
      = link_to 'Edit', edit_gadget_path,:class => "btn btn-primary"
%hr/
.row
  .col-md-8
    %dl
      %dt Name of the method/gadget
      %dd= @gadget.name_method_or_gadget
    %dl
      %dt What is it for?
      %dd= @gadget.useful_for
    %dl
      - if !@gadget.analysis_group.empty?
        %dt Analysis group(s)
        - @gadget.analysis_groups.each do |group|
          %dd
            = group.name
    %dl
      %dt Type of method/gadget
      - if !@gadget.type_of_method_or_gadget.empty?
        - @gadget.type_of_methods.each do |group|
          %dd
            = group.name
    %dl
      %dt Gadget description
      %dd= @gadget.gadget_description
    %dl
      - if !@gadget.cost.nil?
        %dt Cost
        %dd
          = @gadget.cost
%hr/
%dl
  %dt Company name
  %dd
    = @gadget.companay_name
%dl
  %dt Company description
  %dd= @gadget.company_description
%dl
  %dt Company website
  %dd
    = @gadget.companay_website
%dl
  %dt Evaluated by NRC
  %dd
    - if  @gadget.explanation_by_evaluator
      Yes
    - else
      No
%dl
  %dt Name of evaluator
  %dd
    - if  @gadget.name
      Yes
    - else
      No
%dl
  %dt Usefulness for which field lab?
  %dd
    - if  @gadget.useful_which_field_lab
      Yes
    - else
      No
      