<b>Image:</b>
<%= image_tag(@order.image.url(:small)) %>
<b>Document:</b>
<%= @order.document_file_name %>
<b>Audio:</b>
<%= @order.audio_file_name %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @music.image %>
</p>

<p>
  <strong>Document:</strong>
  <%= @music.document %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @music.audio %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
