<nav class="navbar navbar-inverse" role="navigation">
  <div class="nav navbar-header">
    <a href="/contacts/new" class="navbar-brand">Contact</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li id="test2" class="dropdown">
        <a href="#" class="dropdown" data-toggle="dropdown">
        <h5>Produts<span class="caret"></span></h5>
        </a>
        <ul id="test3" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><a  href="http://navaratan.com/home/aboutus"><h5>About Us</h5></a></li>
          <li><a  href="http://navaratan.com/home/services"><h5>Services</h5></a></li>
          <li><a  href="http://navaratan.com/home/careers"><h5>Careers</h5></a></li>
        </ul>
      </li>
    </ul>
    <div class="nav navbar-nav pull-right">
    <% if user_signed_in? %>
      <ul>
      Logged in as <strong><%= current_user.email %></strong>
      <%= link_to 'Edit profile', edit_user_registration_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
      </ul>
    <% end %>
    </div>
  </div>
</nav><hr/>





